<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>log In</title>
</head>
<body>
{% extends "Base.html"%}
{%block content%}

   <div class="content-section">
       <form method="POST" action="">

           <fieldset class="form-group">
               <legend class="border-bottom mb-4">LOG IN</legend>
               <div class="form-group">
                   {{ form.username.label(class="form-control-label") }}
                   {{ form.username(class="form-control form-control-lg") }}
               </div>
                  <div class="form-group">
                   {{ form.email.label(class="form-control-label") }}
                   {{ form.email(class="form-control form-control-lg") }}
               </div>
                  <div class="form-group">
                   {{ form.password.label(class="form-control-label") }}
                   {{ form.password(class="form-control form-control-lg") }}
               </div>
                  <div class="form-group">
                   {{ form.confirm_password.label(class="form-control-label") }}
                   {{ form.confirm_password(class="form-control form-control-lg") }}
               </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
           </fieldset>
           <div class="form-group">
               {{ form.submit(class="btn btn-outline-info") }}
           </div>
                <a href="{{ url_for('home') }}">LOGIN</a>
                <a href="#">Forgot Password?</a>

       </form>
   </div>
<div class="border-top pt-3">
    <small class="text-muted">
        Need An account? <a class="ml-2" href="{{ url_for('register') }}">Create One Now</a>
    </small>
</div>


{% endblock content%}
</body>
</html>